* {
    font-family: 'Nunito', sans-serif;
}

li {
    width: 100%;
}

h5 {
    margin: auto 0;
}



span {
    margin: auto 0;
}

.search-product-bar {
    max-width: 31%;
}

.product-width {
    min-width: 500px; 
}

.scroll-list {
    overflow: auto;
    max-height: 90%;
}

.body-height {
    height: 94vh;
}

.bill {
    height: 75vh;
}

.product-info-button {
    margin: auto 0;
}
