/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2021, 6:48:43 AM
    Author     : Lancyar
*/

.modal-header {
    background-color: #e09900;
}

.modal-title {
    color: #fff;
}