html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background: #5f80e2;
}

.brand-name {
  /* display: flex;
    position: fixed;
    top: 6% !important;
    left: auto; */
  font-weight: bold;
  font-size: 6rem;
  z-index: -10000;
  color: #fff;
  margin-bottom: 3rem;

}

.logo {
  width: 40%;
  object-fit: cover;
  cursor: pointer;
  transition: width 0.5s ease;
  border-radius: 50%;
}

.logo:hover {
  width: 50%;
}

.login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5em;
  padding: 5rem 3.5rem;
}

.login-form {
  width: 100%;
  max-width: 50rem;
  border-radius: 20px;
  padding: 5rem 3.5rem;
  box-shadow: 30px 30px 61px #334b91, -30px -30px 61px #699bff;
}

.login-heading {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 3rem;
}

.login-h1 {
  font-weight: bold;
  font-size: 5rem;
  color: white;
}

.login-field {
  display: flex;
  align-items: center;
  background-color: #c2cff4;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 20px;
  border: thin solid black;
}

.login-field:focus-within {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #bbaf5a, 0 0 3px 2px #303030;
  transition: 0.25s linear;
}

.login-icon {
  color: #344667;
  font-size: 20px;
  width: 20px;
  text-align: center;
  transition: all 0.5s;
}

.login-field:focus-within > .login-icon:first-child {
  color: black;
  transform: rotate(360deg);
}

.login-input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 1.6rem;
}

.login__login-btn {
  display: flex;
  justify-content: center;
}
/*Login button*/
.login-btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #e4e9fa;
  color: black;
  border-radius: 40px;
  display: block;
  width: 50%;
  padding: 15px 10px;
  border: thin solid transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  box-shadow: 7px 7px 13px #93c6ff, -7px -7px 13px #2b3a66;
}

.login-btn::after {
  content: "\f090";
  font: normal normal normal 2.5rem/1 FontAwesome;
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 53%;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.login-btn:hover {
  background: #102359;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #00f 61;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  color: white;
}
.login-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: white;
}

/**/
/*Default display: none; if error display flex*/
.error-field {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-bottom: 20px;
  margin-top: -15px;
}

.error-icon {
  padding-top: 0.5rem;
  color: red;
  font-size: 1.6rem;
  width: 20px;
  text-align: center;
}

.error-message {
  border: 0;
  color: red;
  padding-top: 0.5rem;
  padding-left: 7px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 1.4rem;
}
